body{background-image: url(../latihan\ html/foto/trees.webp);}
h1{color: #6e661c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;}
h2{color: #6e661c;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;}
h3{color: #6e661c;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;}
.th1{background-color: greenyellow;}
p{ font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;}
table{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;}
.p1{text-indent: 30px;
text-align: justify;}
a{text-decoration: none;
  font-weight: bold;}
.a1:link {color: #238323;}
.a1:hover {color: black;}
.a1:active {color: #238323;}
.a1:visited {color: darkgreen;}